/* @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean'); */

.lyk-main-container {
    background-color: #AAAAAA;
    width: 50vw;
    height: 80vh;
}

.lyk-item {
    /* font-family: 'Black Han Sans', sans-serif; */
    background-color: cornsilk;
    padding: 2px;
    border: 1px solid black;
    box-shadow: 2px 2px gray;;
}

.lyk-item-container {
    width: calc(100% -2px);
    height: 30%;
    border: gainsboro 1px solid;
    background-color: lightcyan;
}

.lyk-status-health-con {
    
}

.lyk-status-health-level-1 {

}

.lyk-status-health-level-2 {

}

.lyk-status-health-level-3 {

}